*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Kumbh Sans", sans-serif;
}
h1{
      font-size: 50px;
      line-height: 64px;
      color: #222;
}
h2{
      font-size: 46px;
      line-height: 54px;
      color: #222;
}
h4{
      font-size: 20px;
      color: #222;
}
h6{
      font-weight: 700;
      font-size: 12px;
}
p{
      font-size: 16px;
      color: #465b52;
      margin: 15px 0 20px 0;
}
a{
      text-decoration: none;
      color: black;
}
.section-p1{
      padding: 40px 80px;
}
button.normal{
      font-size: 14px;
      font-weight: 600;
      padding: 15px 30px;
      color: black;
      background-color: white;
      border-radius: 4px;
      cursor: pointer;
      border: none;
      outline: none;
      transition: 0.2s;
}
button.white{
      font-size: 13px;
      font-weight: 600;
      padding: 11px 25px;
      color: white;
      background-color: transparent;
      border: 1px solid #fff;
      cursor: pointer;
      outline: none;
      transition: 0.2s;
}
.section-m1{
      margin: 40px 0;
}
body{
      width: 100%;
}
// ============ Header Start ==========
#header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 80px;
      background-color: #e3e6f3;
      box-shadow: 0 5px 15px rgba(0,0,0, 0.08);
      z-index: 999;
      position: sticky;
      top: 0;
      left: 0;

      #navbar{
            display: flex;
            // align-items: center;
            // justify-content: center;
          
            li{
                  list-style: none;
                  padding: 0 20px ;
                  position: relative;
                  a{
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 600;
                        color: #1a1a1a;
                  
                  }
                  a:hover{
                        color: #088178;
                        transition: 0.3s ease;
                  }
                  a.active{
                        color: #088178;
                  }
                  a.active::after, a:hover::after{
                   content: "";
                   width: 30%;
                   height: 2px;
                   background: #088178;
                   position: absolute;
                   bottom: -4px;
                   left: 20px; 
                  }
            }


      }
}
#close{
      display: none;
}
#mobile{
      align-items: center; 
       display: none;
      a{
            margin-right: 25px;
            font-size: 1.2rem;
            color: black;
      }
      i{
            font-size: 24px;
      }
}
// ============== Home Page =============
#hero{
      background-image: url(./public/hero4.png);
      height: 90vh;
      width: 100%;
      background-position: top 25% right 0%;
      background-size: cover;
      padding: 0 80px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      h4{
            padding-bottom: 15px;
      }
      h1{
            color: #088178;
      }
      button{
            background-image: url(/public/button.png);
            background-color: transparent;
            color: #088178;
            border: 0;
            padding: 14px 80px 14px 65px;
            background-repeat: no-repeat;
            cursor: pointer;
            font-weight: 800;
            font-size: 1rem;

      }

}
// ============== Feature ================
#feature{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
.fe_box{
      width: 180px;
      text-align: center;
      padding: 25px 15px;
      box-shadow: 20px 20px 34px rgba(0,0,0,0.07);
      border: solid 1px #cce7d0;
      border-radius: 4px;
      margin: 15px 0;
      transition: 0.3s ease;
      cursor: pointer;
      img{
          width: 100%;
          margin-bottom: 10px;  
      }
      h6{
            padding: 9px 8px 6px 8px;
            line-height: 1;
            border-radius: 4px;
            color: #088178;
            background-color: #fddde4;
            display: inline-block;
      }

}
.fe_box:hover{
      box-shadow: 10px 10px 54px rgba(0,0,0,0);
}
.fe_box:nth-child(2) h6{
      background-color: #cdebbc;
}
.fe_box:nth-child(3 ) h6{
      background-color: #d1e8f2;
}
.fe_box:nth-child(4) h6{
      background-color: #cdd4f8;
}
.fe_box:nth-child(5) h6{
      background-color: #cdebbc;
}
.fe_box:nth-child(6) h6{
      background-color: #fff2e5;
}
}

// ============== Product ================
#product1{
      .pro_container{
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            flex-wrap: wrap;
      }
      text-align: center;
      .pro{
            width: 23%;
            min-width: 250px;
            padding: 10px 12px;
            border: 1px solid #cdebbc;
            border-radius: 25px;
            cursor: pointer;
            box-shadow: 20px 20px 30px rgba(0,0,0,0.07);
            margin: 15px 0;
            transition: 0.2s ease;
            position: relative;
      
            img{
                  width: 100%;
                  border-radius: 20px;
            }
            .des{
                  text-align: start;
                  padding: 10px 0;
                  span{
                       color: #606063;
                       font-size: 12px; 
                  }
                  h5{
                        padding: 7px 0;
                        color: #1a1a1a;
                        font-size: 14px;
                  }
                  i{
                        font-size: 12px;
                        color: rgb(243,181,25);
                  }
                  h4{
                        padding: 7px 0;
                        font-size: 15px;
                        font-weight: 700;
                        color: #088178;
                  }
            }
      }
      .pro:hover{
            box-shadow: 20px 20px 30px rgba(0,0,0,0);   
      }
      
}
.cart{
      color: #088178;
      padding: 10px;
      cursor: pointer;
      background-color: #e5f9e8;
      border-radius: 10px;
      font-size: 1.25rem;
      position: absolute;
      bottom: 20px;
      right: 10px;
  }
// ============== Banner Section ================
#banner{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-image: url(/public/banner/b2.jpg);
     width: 100%;
     height: 40vh;
     background-size: cover;
     background-position: center;
     h4{
      color: white;
      font-size: 1rem;
     }
     h2{
      color: white;
      font-size: 30px;
      padding: 10px 0;
      span{
            color: red;
      }
     }
     button:hover{
      background: #088178;
      color: #fff;
     }
}
// ============== Small Banner Secttion ============
#sm_banner{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .banner_box:hover button{
           background-color: #088178;
           border: 1px solid #088178; 
      }
      .banner_box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: center;
            background-image: url(/public/banner/b17.jpg);
            min-width: 580px;
            height: 50vh;
            height: 40vh;
            background-size: cover;
            background-position: center;
            padding: 30px;
            h4{
                  color: white;
                  font-size: 20px;
                  font-weight: 400;
            }
            h2{
                  color: white;
                  font-size: 28px;
                  font-weight: 800;
            }
            span{
                  color: white;
                  font-size: 14px;
                  font-weight: 500;
                  padding-bottom: 15px;
            }
      }
      .banner_box_2{
            background-image: url(/public/banner/b10.jpg);
      }
}
// ============== Secttion ================
#banner3{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 80px;
      .banner_box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: center;
            background-image: url(/public/banner/b7.jpg);
            min-width: 30%;
            height: 30vh;
            background-size: cover;
            background-position: center;
            padding: 20px;
            margin-bottom: 20px;
      }
      h2{
            color: white;
            font-weight: 900;
            font-size: 22px;
      }
      h3{
            color: rgb(255, 255, 255);
            font-weight: 900;
            font-size: 16px;
            background: #035c5652;
      }
      .banner_box_2{
            background-image: url(/public/banner/b4.jpg);
      }
      .banner_box_3{
            background-image: url(/public/banner/b18.jpg);
      }
}
// ============== Newletter Secttion ================

#news_letter{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
background-image: url(public/banner/b14.png);
background-repeat: no-repeat;
background-position: 20% 30%;
background-color: #041e42;
h4{
      font-size: 22px;
      font-weight: 800;
      color: white;
}
p{
   font-size: 14px;
   font-weight: 600;
   color: #818ea0;
}
span{
      color: #ffbd27;
   }
   .form{
      display: flex;
      width: 40%;
   }
input{
      height: 3.125rem;
      padding: 0 1.25em;
      font-size: 14px;
      width: 100%;
      border: 1px solid transparent;
      border-radius: 4px;
      outline: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

}
button{
      background-color: #088178;
      color: white;
      white-space: nowrap;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
}
}

// ========= Footer Section ==============
.footer_columns{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .logo{
            margin-bottom: 30px;
      }
      .col{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;
      }
      h4{
            font-size: 14px;
            padding-bottom: 20px;
      }
      p{
            font-size: 13px;
            margin:  0 0 8px 0;
      }
      a{
            font-size: 13px;
            text-decoration: none;
            color: black;
            margin-bottom: 10px;
      }
      .follow{
        color: #465b52;   
        padding-right: 5px;
        cursor: pointer; 
      }
      i:hover, a:hover{
            color: #06938a;
        }
      
      .row{
         img{
            border: 1px solid #088178;
            border-radius: 6px;
            margin: 10px 0 15px 0;
            cursor: pointer;
         }
      }
}
.copyright{
      width: 100%;
      text-align: center;
      a{
            color: rgb(8, 125, 184);
            text-decoration: none;
      }
}

// =============== Media Query 799 PX ==============
@media (max-width: 799px){
.section-p1{
      padding: 40px 40px;
}
      //  ============ Navbar section ============
      #navbar{
            flex-direction: column;
            position: fixed;
            top: 0;
            right: -300px;
            height: 100vh;
            width: 250px;
            background-color: #e3e6f3;
            box-shadow: 0 40px 60px rgba(0,0,0,0.05);
            padding: 80px 0 10px;
            transition: 0.3s;
       li{
            margin-bottom: 25px;
       }
      }
      #mobile{
            display: flex;
            i{
             
            }
       }
       #navbar.active{
                  right: 0;
       }
       #close{
            display: flex;
          position: absolute;
          top: 30px;
          left: 30px; 
          font-size: 24px; 
       }
       #lg_bag{
            display: none;
       }

      //  ========== Hero Section ==========
      #hero{
            height: 70vh;
            padding: 0 80px;
            background-position: top 30% right 30%;
      }
      #feature{
            justify-content: center;
            .fe_box{
                  margin:  15px;
            }
      }
// =========== Product ========
#product1{
      .pro_container{
            justify-content: center;
      }
      .pro{
            margin-inline: 15px;
      }
}


// ========= banner =====
#banner{
      height: 28vh;
}
// =========== banner box =======
#sm_banner{
      .banner_box{
     min-width: 100%;
     height: 30vh;
      }

  }
  #banner3{
      padding: 0 40px;
      .banner_box{
            width: 28%;
      }
  }
// ========== Newletter Form
.form{
      min-width: 70%;
}
}

// ========= Media Query 477 Px ============
@media (max-width: 477px){
.section-p1{
      padding: 20px;
}
#header{
    padding: 10px 20px;
}
h2{
      font-size: 32px;
}
h1{
      font-size: 38px;
}
#hero{
    padding: 0 20px;
    background-position: 55%;  
}
#feature{
      justify-content: space-between;
      .fe_box{
            width: 155px;
            margin: 0 0 15px 0;
      }
}
#product1{
      .pro{
            width: 100%;
      }
}
#banner{
      height: 40vh;
}
#sm_banner {
      .banner_box{
         height: 45vh;   
      }
      .banner_box_2{
            margin-top: 20px;
      }
}
#banner3{
      padding: 0 20px;
      .banner_box{
            width: 100%;
      }
  }
  #news_letter{
      padding: 40px 20px;
      .form{
            width: 100%;
      } 
} 
footer{
      .copyright{
            text-align: start;
      }
}

}
